a.active{
    @layer daisyui.l1 {
        &:not( .btn-active, :hover, :active:focus, :focus-visible, input:checked:not(.filter .btn), :disabled, [disabled], .btn-disabled ) {
            --btn-shadow: "";
            --btn-bg: #0000;
            --btn-fg: #00d390;
            /* --btn-fg: var(--btn-color); */
            --btn-border: #00d390;
            --btn-noise: none;
            
        }
        @media (hover: none) {
            &:not(.btn-active, :active, :focus-visible, input:checked:not(.filter .btn)):hover {
                --btn-shadow: "";
                --btn-bg: #0000;
                --btn-fg: var(--btn-color);
                --btn-border: var(--btn-color);
                --btn-noise: none;
            }
        }
    }
}
